.category {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 770px) {
    .container {
      margin-top: 10px 10% !important;
      width: 100%;
    }
  }